HOMEPAGE_VAR_ADGUARD_USERNAME=admin
HOMEPAGE_VAR_ADGUARD_PASSWORD=your_adguard_password

HOMEPAGE_VAR_AUTHENTIK_API_KEY=your_authentik_api_token

HOMEPAGE_VAR_IMMICH_API_KEY=your_immich_api_key

HOMEPAGE_VAR_NAVIDROME_USER=your_username
HOMEPAGE_VAR_NAVIDROME_TOKEN=md5_hash_of_password_plus_salt
HOMEPAGE_VAR_NAVIDROME_SALT=random_salt_value

HOMEPAGE_VAR_GRAFANA_USERNAME=admin
HOMEPAGE_VAR_GRAFANA_PASSWORD=your_grafana_password

HOMEPAGE_VAR_UPTIMEKUMA_SLUG=your_status_page_slug

HOMEPAGE_VAR_HOMEASSISTANT_API_KEY=your_long_lived_access_token

HOMEPAGE_VAR_LIDARR_API_KEY=your_lidarr_api_key

HOMEPAGE_VAR_BAZARR_API_KEY=your_bazarr_api_key

HOMEPAGE_VAR_READARR_API_KEY=your_readarr_api_key

HOMEPAGE_VAR_JELLYSEERR_API_KEY=your_jellyseerr_api_key

HOMEPAGE_VAR_JELLYFIN_API_KEY=your_jellyfin_api_key

HOMEPAGE_VAR_RADARR_API_KEY=your_radarr_api_key

HOMEPAGE_VAR_SONARR_API_KEY=your_sonarr_api_key

HOMEPAGE_VAR_PROWLARR_API_KEY=your_prowlarr_api_key
